<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>maps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="getCurrentPosition()" expand="block">Get Location</ion-button>

  <ion-list>
    <ion-list-header>
      <ion-label>Location Info</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        Latitue
      </ion-label>
      <ion-badge slot="end">{{lat}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        longitude
      </ion-label>
      <ion-badge slot="end">{{lng}}</ion-badge>
    </ion-item>
    </ion-list>

    <form ngNoForm [action]="getSanitized('http://maps.google.com/maps')" method="get" target="_blank">
      <label for="saddr">Enter your location</label>
      <input type="text" name="saddr" />
      <input type="hidden" name="daddr" value="350 5th Ave New York, NY 10018 (Empire State Building)" />
      <input type="submit" value="Get directions" />
   </form>

</ion-content>
