<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let newsItem of news | sortBy:'desc' : 'dateCreated'">
      <ion-card-header>
        <ion-card-subtitle>{{ newsItem.dateCreated }}</ion-card-subtitle>
        <ion-card-title><a href="" [routerLink]="['/menu/newsitem/', newsItem.id]">{{ newsItem.title }}</a></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ newsItem.newsBody | dotdotdot:125 }}
      </ion-card-content>
    </ion-card>

</ion-content>
