<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" routerLink='/menu/news' size="large"></ion-icon>
    </ion-buttons>
    
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ newsItem.dateCreated }}</ion-card-subtitle>
      <ion-card-title>{{ newsItem.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ newsItem.newsBody }}
    </ion-card-content>
  </ion-card>

</ion-content>
